<!DOCTYPE html>
<html>
<head>
  <title>TO-DO List</title>
  <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="/static/js/jquery.inlineEdit.js"></script>
  <script type="text/javascript" src="/static/js/ui.core.js"></script>
  <script type="text/javascript" src="/static/js/ui.sortable.js"></script>
  <script type="text/javascript" src="/static/js/scrum-you.js"></script>
</head>

<body>
    <p>Welcome, {{ user.nickname() }} <a href="{{ logout_url }}">sign out</a></p>
    
	{% for flash in flashes %}
	  <p>{{ flash }}</p>
	{% endfor %}

    <form action="" method="post">
        <input type="text" name="name" id="new_task"></input>
        <input type="submit" value="add"></input>
    </form>
    
    <ul id="todo">
    {% for task in tasks %}
        <li id="{{ task.key().id() }}" order="{{ task.order|epoch }}">
            <span class="handle ui-icon ui-icon-arrowthick-2-n-s"></span>
            <input type="checkbox" class="check" 
                {% if task.completed_on %}
                    checked="True"
                {% endif %}
            />
            <span class="taskName {% if task.completed_on %}completed{% endif %} editable">
                {{ task.name }}
            </span>
            <span class="actions">
                <a class="del" title="delete this task"></a>
            </span>
        </li>
    {% endfor %}
    </ul>
    
    </div>
</body>
</html>